<span>

  <span ng-if="question.meta.label">
    {{ question.meta.label }}
  </span>

  <textarea
  name="{{ name }}"
  ng-change="onUpdate()"
  ng-model="model"
  placeholder="{{ question.meta.placeholder }}"

  ng-required="question | validation:'required'"
  ng-minlength="question | validation:'minLength'"
  ng-maxlength="question | validation:'maxLength'"
  ng-pattern="question | validation:'pattern'"
  />

  <span ng-if="question.meta.labelAfter">
    {{ question.meta.labelAfter }}
  </span>

</span>
