.q-form {
  position: relative;
}
.q-block {
  display: block;
  transition: all linear .5s;
  position: absolute;
}

.q-block-page-next {
  left: 200%;
}

.q-block.q-block-page-current {
  left: 0;
}
.q-block-page-previous {
  left: -200%;
}
