.q-form {
  position: relative;
  overflow: hidden;
  height: 500px;
}
.q-block {
  height: 500px;
  display: block;
  transition: all linear .5s;
  position: absolute;
}

.q-block-page-next {
  top: 110%;
}

.q-block.q-block-page-current {
  top: 10%;
  bottom: 0;
}
.q-block-page-previous {
  top: -110%;
}
