<style>
  .q-form {
    padding: 20px;
    font-family: 'Helvetica Neue, sans';
    font-size: 20px;
    border: 1px solid gray;
  }
  .q-block {
    margin-bottom: 16px;
  }

  .q-question {

  }

  .q-question input[type="text"], .q-question input[type="number"] {
    height: 30px;
    border: none;
    border-bottom: 3px solid gray;
    text-align: center;
  }

  .q-question input[type="text"]:focus, .q-question input[type="number"]:focus {
    outline: 0;
  }

  .q-question select {
    height: 30px;
    border: none;
    background-color: #76d691;
    color: white;
  }

</style>
