<h3>Cerebro - Funnel Form</h3>

<ed-question-form
on-update="onUpdate(form, validationTree, model)"
form-structure="formStructure"
template="template">

<ed-question-block
ng-repeat="block in formStructure.blocks"
block="block"
index="$index"
display="'page'"
validation-tree="validationTree"
/>
<!-- ng-show="$index | displayStrategy:validationTree:'validSequential'" -->
<!-- TODO: move q-block class an displayStrategy into block directive -->

</ed-question-form>



<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<input type="checkbox" ng-model="devMode"/> Dev Mode
<br><br>

<div ng-if="devMode">
  <h5>
    FORM VALID: {{ validationTree.valid === true }}<br>
    {{ validationTree }}
  </h5>

  <br><br>

  <h5>MODEL</h5>
  {{ model | json }}

  <br><br>

  <h5>ERRORS</h5>
  {{ errors | json }}
</div>
