<h1>Cerebro - Funnel Form</h1>

{{ blockValidations }}

<br><br>

<ed-question-form
  on-update="onUpdate(form, validationTree, model)"
  form-structure="formStructure"
  template="template">

  <ed-question-block
    ng-repeat="block in formStructure.blocks"
    block="block"
    index="{{ $index }}"
  />
  <!-- *Visualization strategy for this view/controller -->
  <!-- ng-show="$index === 0 ? true : validationTree.blocks[$index - 1].valid" -->

</ed-question-form>

<button ng-click="change()"/>Change Template</button>
TEMPLATE: {{ template }}

<br><br>

<h5 ng-show="validationTree.form">
  Form: $valid
</h5>

<br><br>

<h5>MODEL</h5>
{{ model | json }}


<h5>ERRORS</h5>
{{ errors | json }}
