<h1>Cerebro - Funnel Form</h1>

<ed-question-form
on-update="onUpdate(form, validationTree, model)"
form-structure="formStructure"
template="template">

<ed-question-block
ng-repeat="block in formStructure.blocks"
block="block"
index="{{ $index }}"

class="q-block"
ng-show="$index | displayStrategy:validationTree:'validSequential'"
/>


</ed-question-form>

<button ng-click="change()"/>Change Template</button>
TEMPLATE: {{ template }}

<br><br>

<h5>
  FORM VALID: {{ validationTree.valid === true }}<br>
  {{ validationTree }}
</h5>

<br><br>

<h5>MODEL</h5>
{{ model | json }}

<br><br>

<h5>ERRORS</h5>
{{ errors | json }}
